.page-link {
  color: #15729c !important;
}
.page-link:focus {
  box-shadow: none !important;
  background-color: #ffffff !important;
}
button:focus:not(:focus-visible) {
  outline: none !important;
}
.page-item{
    padding: 0 1px 0 1px !important;
}