.settlement-model{

  .modal-header {
    background: #edf9ff !important;
  }
  .save {
    width: auto !important;
  }
  .close {
    width: auto !important;
  }
  
  .save-button {
    width: 8rem;
    background-color: #15729c !important;
  }
  .close-button {
    width: 8rem;
  }
  
  .modal-footer {
    border: none;
  }
  .input-bg{
      background-color:#efebeb !important;
  } 

  p{
    font-size: 13px;
  }


}



