.side-by-side-container {
  // display: flex;
  justify-content: space-between;
  margin: 50px;
  height: 100%;

  p{
    font-size: 20px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }

  .details-side,
  .settlement-side {
    flex: 1;
    padding: 40px;
    background-color: #f4f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
      margin-bottom: 20px;
      padding: 10px;
    }

    h2 {
      margin-top: 0;
    }
    /* Add space around the div */
    margin: 10px; /* Adjust the value to your preference */
  }
  .list-settelment{
    background-color: #e0e9eb;
    border-radius: 1rem;
    padding: 1rem;
  }

  .bold-list{
     font-weight: 700;
  }
}
